@model List<UnitOfMeasure>

<div>
    <a asp-controller="UnitOfMeasures" asp-action="Create" class="btn btn-primary">
        Create
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>Action</th>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var unitOfMeasure in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="UnitOfMeasures" 
                        asp-action="Edit"
                        asp-route-id="@unitOfMeasure.Id"
                        class="btn btn-secondary">
                            Edit
                        </a>

                        <a asp-controller="UnitOfMeasures"
                       asp-action="Delete"
                       asp-route-id="@unitOfMeasure.Id"
                       class="btn btn-danger">
                            Delete
                        </a>
                    </td>
                    <td>
                        @unitOfMeasure.Id
                    </td>
                    <td>
                        @unitOfMeasure.Name
                    </td>
                    <td>
                        @unitOfMeasure.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>