@model List<UnitOfMeasure>

<div>
    <a asp-controller="UnitOfMeasures" asp-action="Create" class="btn btn-primary">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Unit Price</th>
                <th>Quantity</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var UnitOfMeasure in Model)
            {
                <tr>
                    <td>
                        @UnitOfMeasure.Id
                    </td>
                    <td>
                        @UnitOfMeasure.Name
                    </td>
                    <td>
                        @UnitOfMeasure.Description
                    </td>
                    <td>
                        @UnitOfMeasure.UnitPrice
                    </td>
                    <td>
                        @UnitOfMeasure.Quantity
                    </td>
                    <td>
                        <a asp-controller="UnitOfMeasures"
                       asp-action="Edit"
                       asp-route-id="@UnitOfMeasure.Id"
                       class="btn btn-secondary">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

